@import url(https://fonts.googleapis.com/css?family=BioRhyme:200,300,regular,500,600,700,800&display=swap);

@import url(https://fonts.googleapis.com/css?family=Bitter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);

@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Eczar:regular,500,600,700,800&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);

@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular&display=swap);

@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-bitter: "Bitter", serif;
  --font-comfortaa: "Comfortaa", sans-serif;
  --font-eczar: "Eczar", serif;
  --font-bio: "BioRhyme", serif;
  --font-ps2p: "Press Start 2P", serif;
}

@layer base {
  a {
    @apply no-underline;
  }
}

:root {
  --bg-bottom: hsl(0 0% 100%); /* #fafafa */
  --bg-base: hsl(240 20% 98%); /* #f9f9fb */
  --bg-top: hsl(240 40% 93%); /* #e6e6f4 */
  --bg-accent: hsl(240 15% 80%); /* #c4c4d4 */
  --bg-muted: hsl(240 15% 80% / 0.5); /* #c4c4d4 */

  --text-top: hsl(230 75% 40%); /* #1933b3 */
  --text-base: hsl(230 75% 15%); /* #0a1343 */
  --text-muted: hsl(230 75% 30%); /* #132686 */
  --text-link: hsl(221 83% 65%);
  --text-link-muted: hsl(221 83% 55% / 0.2);

  --accent: hsl(220 100% 60%);

  --gradient-start: hsl(250 100% 65%); /* #6a4dff */
  --gradient-end: hsl(170 100% 65%); /* #4dffe1 */

  --border-base: hsl(229 40% 30%);
  --border-muted: hsl(229 40% 60%);
  --border-highlight: hsl(229 40% 80%);

  --border-radius-small: 0.5rem;
  --border-radius-large: 0.75rem;
  --highlight-border-radius: 0.5rem;

  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.17), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
  --shadow-large: -1px -1px 4px #0022ffbf, 2px 2px 10px #0022ffbf,
    0 0 20px #0022ffbf;

  --padding-small: 1rem;
  --padding-large: 2rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-bottom: hsl(228 50% 4%); /* #05070f ← #05070f */
    --bg-base: hsl(233 35% 12%); /* #141629 ← #0e101e */
    --bg-top: hsl(233 33% 20%); /* #222644 ← #121424 */
    --bg-accent: hsl(240 15% 35%); /* #4c4c67 */
    --bg-muted: hsl(240 15% 80% / 0.2); /* #c4c4d4 */

    --text-top: hsl(230 75% 95%); /* #e9ecfc */
    --text-base: hsl(230 75% 88%); /* #c9d1f7 */
    --text-muted: hsl(230 75% 85%); /* #bcc6f5 */
    --text-link: hsl(221 83% 65%);
    --text-link-muted: hsl(221 83% 55% / 0.4);

    --accent: hsl(220 100% 60%);

    --gradient-start: hsl(250 100% 75%); /* #9580ff */
    --gradient-end: hsl(170 100% 75%); /* #80ffea */

    --border-base: hsl(229 40% 30%);
    --border-muted: hsl(229 40% 60%);
    --border-highlight: hsl(229 40% 80%);

    --border-radius-small: 0.5rem;
    --border-radius-large: 0.75rem;
    --highlight-border-radius: 0.5rem;

    --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.17),
      0px 4px 4px hsla(0, 0%, 0%, 0.15);
    --shadow-large: -1px -1px 4px #0022ffbf, 2px 2px 10px #0022ffbf,
      0 0 20px #0022ffbf;

    --padding-small: 1rem;
    --padding-large: 2rem;
  }
}

#root {
  min-height: 100vh;
  max-width: 40rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  padding: 1.5rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* html,
body {
  -ms-overflow-style: none; IE, Edge
  scrollbar-width: none; Firefox
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; Chrome, Safari
} */

.special-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    135deg,
    var(--gradient-start) 0,
    var(--gradient-end) 100%
  );
  background-size: 100%;
  -webkit-box-decoration-break: clone;
}
