@import url(https://fonts.googleapis.com/css?family=BioRhyme:200,300,regular,500,600,700,800&display=swap);

@import url(https://fonts.googleapis.com/css?family=Bitter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);

@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Eczar:regular,500,600,700,800&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-bitter: "Bitter", serif;
  --font-serrat: "Montserrat", sans-serif;
  --font-comfortaa: "Comfortaa", sans-serif;
  --font-eczar: "Eczar", serif;
  --font-bio: "BioRhyme", serif;
}

@layer base {
  a {
    @apply no-underline;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scroll-snap-center {
    scroll-snap-align: center;
  }
}

:root {
  --bg-bottom: #e7e5e4; /* stone-200 */
  --bg-base: #f5f5f4; /* stone-100 */
  --bg-top: #fafaf9; /* stone-50 */

  --bg-accent: hsl(240 15% 80%); /* #c4c4d4 */
  --bg-muted: hsl(240 15% 80% / 0.5); /* #c4c4d4 */

  --text-dark: #1c1917; /* stone-900 */
  --text-base: #292524; /* stone-800 */
  --text-light: #44403c; /* stone-700 */
  --text-muted: #57534e; /* stone-600 */
  --text-highlight: #fafaf9; /* stone-50 */

  --text-link: hsl(221 83% 65%);
  --text-link-muted: hsl(221 83% 55% / 0.2);

  --accent: hsl(220 100% 60%);
  --primary: hsl(35 58% 75%);
  --secondary: hsl(25 44% 32%);
  --primary: #92400e;
  --secondary: #ca8a04;

  --gradient-start: hsl(250 100% 65%); /* #6a4dff */
  --gradient-end: hsl(170 100% 65%); /* #4dffe1 */
  --gradient-start: #92400e; /* amber-800 */
  --gradient-end: #ca8a04; /* yellow-600 */

  --border-base: hsl(229 40% 30%);
  --border-muted: hsl(229 40% 60%);
  --border-highlight: hsl(229 40% 80%);
  --border-base: #a8a29e; /* stone-400 */
  --border-muted: #a8a29e7a;
  --border-highlight: #a8a29e; /* stone-400 */

  --border-radius-small: 0.25rem;
  --border-radius-large: 0.75rem;
  --highlight-border-radius: 0.5rem;

  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.17), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
  --shadow-large: -1px -1px 4px #0022ffbf, 2px 2px 10px #0022ffbf,
    0 0 20px #0022ffbf;

  --padding-small: 1rem;
  --padding-large: 2rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-bottom: hsl(228 50% 4%); /* #05070f ← #05070f */
    --bg-base: hsl(233 35% 12%); /* #141629 ← #0e101e */
    --bg-top: hsl(233 33% 20%); /* #222644 ← #121424 */
    --bg-accent: hsl(240 15% 35%); /* #4c4c67 */
    --bg-muted: hsl(240 15% 80% / 0.2); /* #c4c4d4 */

    --text-top: hsl(230 75% 95%); /* #e9ecfc */
    --text-base: hsl(230 75% 88%); /* #c9d1f7 */
    --text-muted: hsl(230 75% 85%); /* #bcc6f5 */
    --text-link: hsl(221 83% 65%);
    --text-link-muted: hsl(221 83% 55% / 0.4);

    --accent: hsl(220 100% 60%);

    --gradient-start: hsl(250 100% 75%); /* #9580ff */
    --gradient-end: hsl(170 100% 75%); /* #80ffea */

    --border-base: hsl(229 40% 30%);
    --border-muted: hsl(229 40% 60%);
    --border-highlight: hsl(229 40% 80%);
  }
}

#root {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-base);
  color: var(--text-base);
}

/* header,
main,
footer {
  padding: 1.5rem;
} */

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Typography */
/* h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "BioRhyme", serif;
  width: fit-content;
} */

.text-large {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-light);
}

h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: bold;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h3,
.text-medium {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
/* 
h4 {
  font-size: 1rem;
  line-height: 1.5rem;
}

h5,
h6 {
  font-size: 0.875rem;
  line-height: 1.25rem;
} */

/* p {
  display: block;
  width: fit-content;
} */

span {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Form elements */
input,
button,
select,
optgroup,
textarea {
}

button,
select,
input[type="submit"],
input[type="button"],
input[type="checkbox"],
input[type="range"],
input[type="radio"] {
  cursor: pointer;
}

/* button {
  color: var(--text-base);
  background-color: var(--bg-top);
  width: fit-content;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  padding: 0.25rem 1.25rem;
  border: 1.5px solid var(--border-muted);
  border-radius: var(--border-radius-small);
  box-shadow: 2px 2px 0 0 var(--border-muted);
  transition-duration: 200ms;
}

button:hover {
  box-shadow: 0 0 0 0 var(--border-muted);
  transform: translate(2px, 2px);
}

button[disabled]:hover {
  box-shadow: 2px 2px 0 0 var(--border-muted);
  transform: translate(0, 0);
}

button:disabled,
button[disabled] {
  border: 1.5px solid var(--border-muted);
  cursor: initial;
  opacity: 0.55;
} */

label {
  display: block;
  max-width: fit-content;
  font-weight: 500;
}

input,
textarea,
select {
  font-size: 1rem;
  background-color: var(--bg-base);
  border: 1px solid var(--border-base);
  color: var(--text-base);
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  /* width: 100%; */
  /* max-width: fit-content; */
  outline: none;
  appearance: none;
}

input:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

input[type="number"].buttonless {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[type="number"].buttonless::-webkit-inner-spin-button {
  display: none;
  appearance: none;
}

input[type="number"].buttonless::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0.5rem;
  width: fit-content;
  vertical-align: middle;
  position: relative;
  margin: 0.5rem 0.25rem 0.5rem 0.5rem;
  /* margin-right: 0.33em;
margin-top: 0.31em; */
}

input[type="checkbox"] {
  border-radius: 7px;
  margin-left: 0;
}

input[type="radio"] {
  border-radius: 100%;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background: var(--border-muted);
}

input[type="range"] {
  vertical-align: middle;
  padding: 0;
}

input[type="color"] {
  appearance: none;
  border: none;
  outline-style: none;
  padding: initial;
  max-width: initial;
  height: 2rem;
  width: 3rem;
}

.special-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    135deg,
    var(--primary) 0,
    var(--secondary) 100%
  );
  background-size: 100%;
  -webkit-box-decoration-break: clone;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 500ms ease-in-out forwards;
}
